<h1> <%= @cocktail.name %> </h1>
<%= image_tag @cocktail.picture.url(:medium) %>
<% @cocktail.doses.each do |dose| %>
  <div class="row" id="ingredients">
    <%= dose.description %>
    <%= Ingredient.find(dose.ingredient_id).name %>
    <%= link_to "Delete", dose_path(dose),
      method: :delete,
      data: {confirm: "Are you sure?"} %>
  </div>
<% end %>

<h2><%= link_to "Add an ingredient", new_cocktail_dose_path(@cocktail)%></h2>



